$primary: #4F5686;
$secondary: #F17641;
$success: #05AA5B;
$danger: #DA3732;
$dark: #212529;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "dark": $dark
);

